Archive/
Backup/
*.cydsn/codegentemp/
*.cydsn/CortexM0/
*.cydsn/CortexM3/
*.cydsn/Generated_Source/
*.cydsn/Export/
*.cydsn/*.cycdx
*.cydsn/*.cyfit
*.cydsn/*.cyprj.*
*.cydsn/*.rpt
*.cydsn/*.svd
*.cydsn/*_timing.html
*.cywrk.*
*swp
utilities/VirtualGrand_v3_FR/
/source/i2c/debug.c
/source/i2c/debug.h
/source/i2c/main.c
