Archive/
Backup/
*.cydsn/codegentemp/
*.cydsn/CortexM0/
*.cydsn/CortexM3/
*.cydsn/Generated_Source/
*.cydsn/Export/
*.cydsn/*.cycdx
*.cydsn/*.cyfit
*.cydsn/*.cyprj.*
*.cydsn/*.rpt
*.cydsn/*.svd
*.cydsn/*_timing.html
*.cywrk.*
*swp
utilities/VirtualGrand_v3_FR/
/source/i2c/debug.c
/source/i2c/debug.h
/source/i2c/main.c
/temp/*

LCD_Driver/Archive/
LCD_Driver/Backup/
LCD_Driver/*.cydsn/codegentemp/
LCD_Driver/*.cydsn/CortexM0/
LCD_Driver/*.cydsn/CortexM3/
LCD_Driver/*.cydsn/Generated_Source/
LCD_Driver/*.cydsn/Export/
LCD_Driver/*.cydsn/*.cycdx
LCD_Driver/*.cydsn/*.cyfit
LCD_Driver/*.cydsn/*.cyprj.*
LCD_Driver/*.cydsn/*.rpt
LCD_Driver/*.cydsn/*.svd
LCD_Driver/*.cydsn/*_timing.html
LCD_Driver/*.cywrk.*
LCD_Driver/*swp
LCD_Driver/utilities/VirtualGrand_v3_FR/
LCD_Driver/source/i2c/debug.c
LCD_Driver/source/i2c/debug.h
LCD_Driver/source/i2c/main.c
LCD_Driver/temp/*
*.log
*.txt